#arttır{

    background-color: green;
    color: white;
    width: 35px;
    height: 30px;
    border: none;
    font-size: 25px;
}

#azalt{

    background-color: red;
    color: white;
    width: 35px;
    height: 30px;
    border: none;
    font-size: 25px;



}